@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mitr:wght@200;300;400;500;600;700&family=Style+Script&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  font-family: "Roboto", serif;
  font-style: normal;

}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

marquee {
  width: 100%;
  height: 30px;
  background-color: #559af3;
  color: white;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid black;
  z-index: 999;
}

.nav-container {
  width: 100%;
  padding: 0px 25px;
  padding-top: 10px;
  border-bottom: 1px solid white;
  background-color: white;
  z-index: 999;

}


.nav_heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: white;
  max-width: 100%;
  margin-top: 20px;

}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    background-color: #559af3;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid black;
  }

  a:hover {
    transform: scale(1.1);
  }
}

.user_profile_icon {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  border-radius: 100%;
  border: 2px solid #559af3;
  padding: 5px;
  margin-left: 5px;
  display: flex;

  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;

  }
}

.log_logout {
  display: flex;

  a {
    padding: 3px 12px;
    background-color: #559af3;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    margin-left: 8px;
    text-align: center;
    float: left;
  }

  a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px #0e74f959;
  }
}


.one {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: gray;
  margin-top: 180px;

  .two {
    width: 100%;
    padding: 8px;
    border: 5px solid gray;
    border-radius: 5px;

    p {
      margin-top: 50px;
      padding: 20px;
      background-color: gray;
      color: white;
      border-radius: 5px;
    }
  }
}

.right_side {
  width: auto;
  height: 300px;
  position: relative;
  top: 0;
  left: 0;

  #doc5 {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: contain;
    animation: message_anim 1.5s infinite alternate ease-in-out;
    animation-duration: 2 s;
    top: -80px;
    left: -150px;
    opacity: 1;
  }

  .home {
    padding: 0px 10px;
  }

  #doc3 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    left: 0px;
    position: absolute;
    top: 188px;
  }

  .right_side_span {
    position: absolute;
    color: black;
    z-index: 999;
    left: 100px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    animation: message_anim 1.5s infinite alternate ease-in-out;
    animation-duration: 1.5s;
  }

}

/* Hero Sections  */
.hero_section {
  width: 100%;
  display: flex;
  padding: 0px 20px;
  margin-top: 50px;
  background-color: #f9f9f9;
}

.hero_section .hero_section_container_left {
  width: 50%;
  height: 100%;
  margin-right: 10px;
  padding-top: 100px;
  padding-right: 50px;

  h1 {
    font-size: 4rem;
  }

  p {
    line-height: 30px;
    margin: 15px 0;
  }

}
button {
  font-weight: 500;
  padding: 15px 18px;
  font-size: 1.1rem;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #559af3;
  color: white;
  border-radius: 5px;
  background: linear-gradient(#1acef7, #009dff, rgb(67, 67, 222));
  transition: all 0.4s ease-in-out;
}

button:hover {
  transform: scale(1.06);
}

.hero_section .hero_section_container_right {
  width: 50%;
  height: 100%;
}

.hero_section_2 {
  width: 100%;
  height: 500px;
  display: flex;
  padding: 0px 50px;
  margin-top: 180px;
}

.hero_section_2 .hero_section_container_left {
  width: 50%;
  height: 100%;
  margin-right: 10px;
  padding-right: 20px;

  h1 {
    font-size: 4rem;
  }

  p {
    line-height: 30px;
    margin: 25px 0;
    color: gray;
  }

  button {
    font-weight: 500;
    padding: 15px 25px;
    font-size: 1.1rem;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 30px;
    border: 1px solid gray;

  }

}

.hero_section_2 .hero_section_container_right {
  width: 40%;
  height: 100%;
  position: relative;
  right: 0;
  left: 0;
  z-index: -1;

}

#img2 {
  position: absolute;
  right: -150px;
  top: 50px;
}

.over_dep_heading h2 span:first-child {
  width: "150px";
  height: "5px";
  background-color: "gray";
  display: "inline-block";
  margin-right: "20px";
}

.over_dep_heading h2 span:last-child {
  width: "150px";
  height: "5px";
  background-color: "gray";
  display: "inline-block";
  margin-right: "20px";
}


.over_dep {
  width: 100%;
  margin-top: 200px;
  background-color: rgba(128, 128, 128, 0.055);
  padding: 50px 0;
}

.over_dep .over_dep_heading {
  text-align: center;
}

.cat {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 150px);
  justify-content: space-evenly;
  text-align: center;
  margin-top: 150px;
  cursor: pointer;
}
.cat div{
  background-color: #009dff;
  transition: all 0.4s ease-in-out;
}

.cat div:hover{
  background-color: white;
  transform: scale(1.05)
}
.cat div:hover i{
 color: #009dff;
}
.cat div:hover span{
  color: #009dff;
}
.cat div {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.158);
  padding: 5px;
}

.cat div span {
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.cat div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dep {
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

.inner_dep {
  width: 80%;
  padding: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.inner_dep .dep_left {
  width: 50%;
  
}

.inner_dep .dep_left p {
  line-height: 30px;
  margin-top: 20px;
}

.inner_dep .dep_left button {
  font-weight: 600;
  font-size: 20px;
  padding: 15px 20px;
  margin-top: 50px;
}

.inner_dep .dep_right {
  width: 30%;

}
.showImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
}


.show_Image{
  animation-name: anim;
}

@keyframes anim {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

.dep_left button {
  background-color: #559af3;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.our_doct {
  width: 100%;
  padding: 50px;
  margin-top: 150px;
}

.our_doct_con {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  z-index: -1;
}

.doct_detail {
  width: 250px;
}

.doc_image {
  height: 350px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }

  img:hover {
    transform: scale(1.1);
  }
}

.doct_detail .details {
  padding: 20px 0;
  margin-top: 2px;
  padding-left: 10px;
  transition: all .2s ease-in-out;
}

.doct_detail .details:hover {
  background-color: #559af3;
  color: white;

}

@keyframes message_anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* Regsiter Form Css */
#user_register {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 150px;

  .form_box {
    width: 30%;
    margin: 0 auto;
    text-align: left;
    color: white;
    padding: 30px 20px;
    border-radius: 20px;

    .formtype {
      margin-bottom: 5px;
      background-color: #0e75f9;
      border-radius: 50px;
      text-align: center;
      padding: 5px 0;


    }

    #signup_required {
      font-size: 14px;
      margin-top: 8px;
      color: white;
    }

    p {
      margin-top: 20px;
      text-align: left;
      font-size: 15px;
      color: white;
    }

    form {
      margin-top: 25px;
      width: 100%;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);

      div {
        width: 100%;

        input {
          width: 100%;
          padding: 8px 12px;
          border: none;

          border-radius: 15px;
          border: 2px solid #559af3;
          color: black;

          &::placeholder {
            color: gray;
          }
        }


        select {
          width: 100%;
          padding: 8px 12px;
          border: none;
          background-color: white;
          border-radius: 5px;
          color: gray;
        }

        select option {
          background-color: white;
          border-radius: 5px;
          color: gray;
        }
      }


      #user_signup,
      #user_Login {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        button {
          padding: 8px 18px;
          border: none;
          background-color: #0e75f9;
          border-radius: 5px;
          cursor: pointer;
          transition: all .2s ease-in-out;
          color: white;
        }

        button:hover {
          background-color: white;
          color: coral;
        }
      }
    }

  }
}

#switch_signup {
  text-decoration: none;
  transition: all .5s ease-in-out;
}

#switch_signup:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: black;
  margin-top: 100px;
}

#footer {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding-top: 100px;
}

.footer_left {
  span {
    font-weight: 600;
    font-size: 20px;
    color: white;
  }

  ul {
    margin-top: 10px;
    list-style: none;

    li {
      color: white;
      margin-top: 3px;
    }
  }
}

.footer_mid {
  #add {
    font-weight: 600;
    font-size: 20px;
    color: white;
  }

  ul {
    margin-top: 10px;
    list-style: none;

    li {
      color: white;
      margin-top: 3px;
    }
  }
}

.footer_third {
  span {
    font-weight: 600;
    font-size: 20px;
    color: white;
  }

  ul {
    margin-top: 10px;
    list-style: none;

    li {
      color: white;
      margin-top: 3px;
      margin-top: 10px;
    }
  }
}

#last {
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 100px;
}

.footer_fourth {
  span {
    font-weight: 600;
    font-size: 20px;
    color: white;
  }

  P {
    color: white;
    width: 180px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
  }
}

#about {
  margin-top: 150px;
  padding: 0px 50px;

  p {
    font-size: 25px;
    font-weight: normal;
  }

  ul {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;

  }
}


.appoint_form {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;

  form {
    margin-top: 5px;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    div {
      width: 100%;

      input {
        width: 100%;
        padding: 8px 12px;
        border: none;
        background-color: white;
        border-radius: 5px;
      }

      select {
        width: 100%;
        padding: 8px 12px;
        border: none;
        background-color: white;
        border-radius: 5px;
        color: gray;
      }

      select option {
        background-color: white;
        border-radius: 5px;
        color: gray;
      }
    }

    #alread_visited {
      display: flex;

      justify-content: flex-start;
      align-items: center;

      input {
        width: auto;
        margin-left: 5px;
      }
    }

    #address {
      grid-column-start: 1;
      grid-column-end: 3;

      textarea {
        width: 100%;
        background-color: white;
        padding: 5px 10px;
      }
    }

    #book_appointment {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      button {
        padding: 8px 18px;
        border: none;
        border-radius: 5px;
        background-color: #559af3;
        color: white;
        cursor: pointer;
      }
    }
  }

}

/* 
#forget_box {
  margin: "auto";
  width: "30%";
  background-color: "#559af3";
  border-radius: "5px";
  border-color: "gray"
} */


@media screen and (max-width:1100px) {
  #forget_box {
    width: 60%;
  }

  #user_register .form_box {
    width: 40%;
  }

  .log_logout {
    display: none;
  }

  .user_profile_icon {
    margin-bottom: 20px;
    margin-left: 0;
  }

  .nav_heading {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .hero_section {
    flex-direction: column-reverse;
    width: 100%;
  }

  .hero_section .hero_section_container_left {
    width: 100%;
    padding-right: 0;
  }

  .hero_section_container_right {
    width: 100%;
  }

  .cat {
    grid-template-columns: repeat(4, 150px);
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width:850px) {
  #user_register .form_box {
    width: 50%;
  }

  .cat {
    grid-template-columns: repeat(2, 150px);
  }

  .hero_section_2 {
    flex-direction: column;
    gap: 50px;
    height: auto;
  }

  .hero_section_2 .hero_section_container_left {
    width: 100%;
  }

  .hero_section_2 .hero_section_container_right {
    width: 100%;
  }

  .over_dep {
    margin-top: 100px;
  }

  .dep .inner_dep {
    flex-direction: column;
    padding: 0;
    gap: 50px;
  }

  .inner_dep .dep_left {
    width: 100%;
  }

  .inner_dep .dep_right {
    width: 100%;
  }

  #footer {
    flex-direction: column;
    text-align: center;
  }

  .footer_fourth p {
    margin: 0 auto;
    margin-top: 10px;
  }

  #img2 {
    right: 50px;
    top: 150px;
    object-fit: contain;
  }

  .over_dep_heading h2 span:first-child {
    display: none;
  }

  .over_dep_heading h2 span:last-child {
    display: none;
  }

  .over_dep {
    margin-top: 150px;
  }

  .our_doct h1 span:first-child {
    display: none;
  }

  .our_doct h1 span:last-child {
    display: none;
  }
}

@media screen and (max-width:600px) {
  #user_register .form_box {
    width: 90%;
  }

  .our_doct_con {
    justify-content: center;
  }

}